.barGraph-container {
    border-radius: 5px;
    width: 100%;
    height: 30vh;
    background-color: rgba(193, 237, 0, 0.253);
}
.lineGraph-container {
    border-radius: 5px;
    width: 100%;
    height: 30vh;
    background-color: rgba(193, 237, 0, 0.253);
}
.barGraphCard-cont {
    width: 91vw;
}