.barGraph-container {
    border-radius: 5px;
    width: 100%;
    height: 30vh;
    background-color: rgba(193, 237, 0, 0.792);
    margin-bottom: 20px;
}
.lineGraph-container {
    border-radius: 5px;
    width: 100%;
    height: 30vh;
    background-color: rgba(193, 237, 0, 0.792);
}
.barGraphCard-cont {
    width: 91vw;
} 