.cl-quickActions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.yourStats-main-container {
    height: 30vh;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 20px;
}