.edit-popup-main-container {
    width: 50vw;
    height: fit-content;
    border-radius: 5px;
    position: fixed;
    z-index: 9999;
    top: 25%;
    left: 25%;
    padding: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgba(220, 255, 47, 0.729);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px black;
}
.sub-title {
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(35, 59, 0);
}
.edit-info-inputs {
    width: 80%;
    height: 30px;
    border: none;
    outline: none;
    margin-bottom: 7.5px;
    border-radius: 5px;
    text-align: center;
    font-size: 15.5px;
    color: rgb(1, 71, 1);
    background-color: rgb(104, 160, 1);
}
.edit-info-inputs::placeholder {
    color: rgb(1, 71, 1);
}
.edit-info-inputs:hover {
    background-color: rgb(123, 188, 1);
}
.submit-edited-info-btn {
    width: 75%;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.588);
    background-color: rgb(1, 207, 1);
}
.submit-edited-info-btn:hover {
    cursor: pointer;
    scale: 1.025;
    color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.228);
}

@media screen and (max-width: 1030px) {
    .edit-popup-main-container {
        width: 80vw;
        left: auto;
    }
}