.dashboard-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: fit-content;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.page-title-container {
    width: 90vw;
    display: flex;
    align-items: center;
    margin-right: 0.7vw;
}
.page-titles {
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0;
    color: rgba(253, 253, 28, 0.69);
}
.page-titles.dark {
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0;
    color: rgb(30, 47, 0);
}
.cards-container { 
    width : 90.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.quick-actions-container {
    width: 90.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.drafted-div {
    width: 91%;
}

.barGraph-container2 {
    width: 90vw;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(193, 237, 0);
}
.add-client-container {
    border-radius: 5px;
    position: fixed;
    top: 20%;
    z-index: 9999;
    width: 80vw;
    height: fit-content;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 7.5%;
    background-color: rgba(167, 196, 0, 0.763);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px black;
}
.dash-sub-title {
    text-align: center;
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.583);
}
.all-invoices-container {
    width: 90vw; 
    padding: 10px;
    flex-direction: column;
    border-radius: 5px;
    position: fixed;
    z-index: 9999;
    top: 20%;
    background-color: rgb(167, 196, 0);
}


@media screen and (max-width: 1030px) {
    
}