.invoice-main-container {
    height: fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(176, 224, 2, 0.514);
}
.add-items-input-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    width: 95%;
    margin-bottom: 7.5px;
}
.add-item-inputs {
    height: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    color: rgba(216, 251, 16, 0.65);
    background-color: rgb(59, 75, 0);
}
.add-item-inputs::placeholder {
    color: rgba(216, 251, 16, 0.65);
}
.add-item-inputs:hover {
    color: rgba(39, 46, 0, 0.862);
    background-color: rgb(214, 255, 102);
}
.add-item-button {
    width: 60%;
    height: 20px;
    border: none;
    margin-bottom: 15px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.514);
    background-color: rgb(227, 252, 62);
}
.add-item-button:hover {
    scale: 1.025;
    font-weight: bold;
    color: rgba(22, 85, 1, 0.688);
    background-color: yellow;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.231);
}
.invoiceExtras-inputs {
    width: 94.5%;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 13.5px;
    margin: 5px;
    color: rgba(216, 251, 16, 0.65);
    background-color: rgb(59, 75, 0);
}
.invoiceExtras-inputs::placeholder {
    color: rgba(216, 251, 16, 0.65);
}
.invoices-main-buttons {
    width: 60%;
    height: 27.5px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.514);
    background-color: rgb(227, 252, 62);
}
.invoices-main-buttons:hover {
    scale: 1.025;
    font-weight: bold;
    color: rgba(22, 85, 1, 0.688);
    background-color: yellow;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.231);
}
.page-section-subtitles {
    color: rgb(0, 56, 0);
    margin-top: 5px;
    margin-bottom: 7.5px;
}
@media screen and (max-width: 1030px) {
    .invoiceExtras-inputs {
        width: 93%;
    }
}