.invoice-main-container {
    height: fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(168, 214, 0, 0.896);
}