.flReports-page-container {
    height: 100vh;
}
.reports-subtitles-container {
    margin-top: 20px;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(225, 225, 2, 0.842);
}
.reports-page-sub-titleL {
    margin: 0;
    width: 55%;
    font-size: 20px;
    text-align: center;
}
.reports-page-sub-titleR {
    margin: 0;
    width: 45%;
    font-size: 20px;
    text-align: center;
}
.reports-main-container {
    width: 90.5vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reports-left-container {
    border-radius: 5px;
    width: 52.5%;
    height: 100%;
    background-color: rgba(220, 255, 47, 0.752);
}
.reports-right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 42.5%;
    height: 100%;
    background-color: rgba(220, 255, 47, 0.752);
}

@media screen and (max-width: 420px) {
    .reports-main-container {
        height: 75vh;
        flex-direction: column;
        gap: 5%;
    }
    .reports-left-container {
        width: 100%;
    }
    .reports-right-container {
        width: 100%;
    }
    #PvsUP-title {
        display: none;
    }
    #monthly-title {
        width: 90vw;
    }
}