.fl-signupCard-container {
    border-radius: 5px;
    width: 40vw;
    position: fixed;
    top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    background-color: rgba(116, 194, 0, 0.753);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
}
.exit-button {
    margin-left: auto;
    font-size: 18px;
    border: none;
    color: rgb(0, 49, 0);
    background-color: rgba(0, 0, 0, 0);
}
.exit-button:hover {
    cursor: pointer;
    color: rgba(255, 0, 0, 0.787);
}
.signup-titles {
    margin: 0;
    margin-bottom: 5px;
    font-size: 23px;
    color: rgba(0, 52, 0, 0.92);
}
.signup-inputs {
    width: 80%;
    height: 32px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: rgba(54, 107, 1, 0.747);
}
.signup-inputs::placeholder {
    color: rgba(255, 255, 255, 0.666);
}
.signup-inputs:hover {
    background-color: green;
}
.signup-info {
    text-align: center;
    width: 90%;
    margin: 0;
    margin-top: 20px;
}
.signup-button {
    margin-top: 5px;
    width: 60%;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(204, 204, 1);
    background-color: rgba(76, 1, 16, 0.412);
}
.signup-button:hover {
    cursor: pointer;
    scale: 1.025;
    background-color: yellow;
    color: black;
}

@media screen and (max-width: 1030px) {
    .fl-signupCard-container {
        width: 80vw;
    }
}