.flSettings-page-container {
    height: fit-content;
}
.settings-page-main-container {
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(220, 255, 47, 0.752);
}
.profile-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    border: none;
}
.settings-page-subTitles {
    margin: 0;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
    color: rgb(41, 55, 0);
}
.settingsProfile-inputs {
    width: 90%;
    height: 35px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    text-align: center;
    color: rgb(200, 255, 0);
    background-color: rgba(69, 98, 1, 0.82);
}
.settingsProfile-inputs::placeholder {
    text-align: center;
    color: rgb(200, 255, 0);
}
.edit-profile-button {
    width: 80%;
    height: 25px;
    margin-bottom: 12.5px;
    border: none;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.673);
    background-color: rgb(139, 158, 0);
}
.edit-profile-button:hover {
    font-weight: bold;
    scale: 1.025;
    cursor: pointer;
    color: rgb(67, 77, 0);
    background-color: yellow;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
}
.companyInfo-container {
    border-radius: 5px;
    height: 30%;
    width: 91%;
    margin-bottom: 5px;
    background-color: rgba(69, 98, 1, 0.82);
}
.appSettings-container {
    border-radius: 5px;
    height: 30%;
    width: 90.5%;
    margin-bottom: 5px;
    background-color: rgba(69, 98, 1, 0.82);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1030px) {
    .companyInfo-container {
        width: 92%;
    }
    .appSettings-container {
        width: 92%;
    }
}