.landingCard2-main-cont {
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 40vh;
    width: 88.5vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: rgba(199, 239, 2, 0.834);

}
.landingCard2-left-cont {
    height: 98.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 15%;
    width: 10%;
}
.card2-icons {
    width: 40px;
    height: 40px;
    opacity: 85%;
}
.landingCard2-right-cont {
    height: 98.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card2-right-cont-titles {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: rgb(47, 56, 0);
}
.card2-right-cont-texts {
    margin: 0;
}

@media screen and (max-width: 1030px) {
    .landingCard2-main-cont {
        justify-content: center;
        width: 90vw;
        padding: 0;
    }
    .landingCard2-left-cont {
        margin-right: 5%;
        margin-left: 3.5%;
        width: 10.5%;
    }
    .card2-right-cont-titles {
        
    }
    .card2-right-cont-texts {
    }
}
