.invoice-page-menu-cont {
    border: 2px solid rgb(197, 251, 1);
    border-left: 2px solid rgb(30, 38, 0);
    border-right: 2px solid rgb(30, 38, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 99.7%;
    background-color: rgb(197, 251, 1);
}
.invPage-menu-btns {
    width: 25%;
    font-weight: bold;
    border: none;
    border-left: 2px solid rgb(30, 38, 0);
    border-right: 2px solid rgb(30, 38, 0);
    background-color: rgb(197, 251, 1);
}
.invPage-menu-btns:hover {
    cursor: pointer;
    scale: 1.025;
}