.invSettings-page-container {
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(249, 255, 76, 0.687);
}
.invSettingsCurrTitle {
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
    color: rgb(41, 55, 0);
}
.invSettingsCurrDropDn {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    outline: none;
    border: 2px solid rgb(69, 98, 1);
    background-color: rgba(69, 98, 1, 0.82);
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-bottom: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #178d005d;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #024801;
}

input:checked + .slider::before {
  transform: translateX(26px);
}
.web-logout-btn {
    width: 50%;
    height: 25px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.703);
    background-color: rgb(217, 255, 47);
}
.web-logout-btn:hover {
    cursor: pointer;
    scale: 1.025;
    color: black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.655);
}