.invoice-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 88%;
    border-radius: 5px;
    height: fit-content;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    background-color: rgba(59, 75, 0, 0.522);
}
.invoice-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-section-titles {
    margin: 5px;
    font-size: 19px;
    color: rgb(0, 43, 0);
}
.invoiceInfoCard-input-cont {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.bill-to-info-text-conts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 98%;
}
.bill-to-info-text {
    margin: 0;
}
.MoreInfo-button {
    font-weight: bold;
    margin-left: 2.5px;
    border-radius: 10px;
    border: none;
    color: rgba(5, 108, 244, 0.911);
    background-color: rgba(212, 251, 153, 0.451);
}
.MoreInfo-button:hover {
    cursor: pointer;
    background-color: white;
}
.invoiceInfoCard-inputs {
    width: 97.5%;
    height: 30px;
    border-radius: 2.5px;
    border: none;
    margin: .5%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 15px;
    outline: none;
    color: rgba(0, 0, 0, 0.469);
    background-color: rgba(201, 255, 119, 0.771);
}
.invoiceInfoCard-inputs::placeholder {
    color: rgba(0, 0, 0, 0.469);
}
.invoiceInfoCard-inputs:hover {
    background-color: rgba(235, 253, 136, 0.9);
}