.invSettings-page-container {
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    background-color: rgba(249, 255, 76, 0.687);
}
.invSettingsCurrTitle {
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
    color: rgb(41, 55, 0);
}
.invSettingsCurrDropDn {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    outline: none;
    border: 2px solid rgb(69, 98, 1);
    background-color: rgba(69, 98, 1, 0.82);
}