.loginCard-main-container {
    border-radius: 5px;
    position: fixed;
    top: 25vh;
    padding: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    background-color: rgb(0, 171, 0);
    box-shadow: 0px 0px 10px black;
}

@media screen and (max-width: 1030px) {
    .loginCard-main-container {
        width: 65vw;
    }
}