.notif-page-main-cont {
    border-radius: 5px;
    position: fixed;
    z-index: 9999;
    width: 30vw;
    height: 98vh;
    top: 10px;
    left: 69.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(211, 255, 17, 0.683);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.779);
    overflow-y: auto;
}
.exit-notif-page-button {
    margin-left: auto;
    font-size: 17px;
    font-weight: bold;
    border: none;
    padding-top: 5px;
    padding-right: 10px;
    color: rgba(0, 44, 0, 0.744);
    background-color: rgba(0, 0, 0, 0);
}
.exit-notif-page-button:hover {
    color: rgba(186, 1, 1, 0.756);
    scale: 1.1;
    cursor: pointer;
}
.notif-page-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 22.5px;
    color: rgb(70, 79, 0);
}

@media screen and (max-width: 1030px) {
    .notif-page-main-cont{
        width: 50vw;
        left: 49vw;
    }
}
@media screen and (max-width: 420px) {
    .notif-page-main-cont{
        width: 50vw;
        left: 49vw;
    }
}