.totalsCard-main-container {
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(220, 255, 47, 0.752);
}
.totals-containers {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.totals-titles {
    margin: 0;
    margin-top: 7.5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: rgba(20, 30, 0, 0.769);
}
.totals-info {
    margin: 0;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    color: rgba(20, 30, 0, 0.769);
}