.send-popup-main-container {
    border-radius: 5px;
    display: none;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 30px;
    position: fixed;
    z-index: 9999;
    width: 47.5%;
    height: fit-content;
    top: 25%;
    left: 25%;
    background-color: rgba(175, 223, 1, 0.725);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px black;
}
.send-popup-main-container.dark {
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    z-index: 9999;
    width: 47.5%;
    height: 50vh;
    top: 25%;
    left: 25%;
    background-color: rgba(210, 255, 47, 0.725);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px black;
}
.send-to-title {
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: rgb(70, 78, 0);
}
.send-to-title.dark {
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: rgb(57, 62, 0);
}
.exit-button {
    margin-left: 95%;
    font-weight: bold;
}
.exit-button:hover {
    cursor: pointer;
}
.sendTo-info {
    font-size: 13px;
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
}
.sendTo-dropdown {
    border: none;
    outline: none;
    margin-bottom: 20px;
    margin-left: 12.5%;
    height: 30px;
    width: 75%;
    font-size: 14px;
    color: rgb(204, 204, 0);
    background-color: rgba(1, 79, 1, 0.636);
}
.sendTo-dropdown:hover {
    cursor: pointer;
}
.send-invoice-buttons {
    height: 25px;
    width: 50%;
    margin-left: 25%;
    border: none;
    border-radius: 5px;
    margin-bottom: 6px;
    font-size: 14.5px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.622);
    background-color: rgba(59, 91, 0, 0.479);
}
.send-invoice-buttons:hover {
    cursor: pointer;
    scale: 1.025;
    background-color: rgb(204, 215, 2);
}

@media screen and (max-width: 1030px) {
    .send-popup-main-container {
        width: 75%;
        left: 12.5%;
    }
}