.tableCard-container {
    width: 90vw;
    height: fit-content;
    margin-top: 15px;
}
.table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-sub-titles {
    color: rgba(0, 0, 0, 0.404);
    margin-bottom: 0;
    font-size: 22.5px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.tbody {
    width: 100%;
}
tr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.table-titles-cont {
    background-color: rgb(194, 237, 0);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.table-titles {
    width: 25%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.467);
}
.row-data {
    border: 2px solid rgb(194, 237, 0);
    width: 25%;
    height: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 106, 0.696);
}
