.tableCard-container {
    height: fit-content;
    margin-top: 15px;
}
.table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-sub-titles2 {
    color:rgba(92, 92, 0, 0.891);
    margin-bottom: 0;
    font-size: 22.5px;
    font-weight: bold;
    width: 100%;
    text-align: center; 
}
.page-sub-titles2.dark {
    color: rgba(253, 253, 28, 0.69);
    margin-bottom: 0;
    font-size: 22.5px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.tbody {
    width: 100%;
}
tr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.table-titles-cont {
    background-color: rgb(194, 237, 0);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.table-titles {
    width: 25%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.467);
}
.row-data {
    border: 2px solid rgb(194, 237, 0);
    width: 25%;
    height: 30px;
    overflow-y: auto;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 106, 0.696);
    background-color: rgba(100, 127, 1, 0.608);
}
.row-data-email {
    border: 2px solid rgb(194, 237, 0);
    padding-left: 10px;
    overflow-y: auto;
    width: 25%;
    height: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 106, 0.696);
    background-color: rgba(100, 127, 1, 0.608);
}
.row-data-descript {
    border: 2px solid rgb(194, 237, 0);
    padding-left: 10px;
    overflow-x: auto;
    width: 25%;
    height: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 106, 0.696);
    background-color: rgba(100, 127, 1, 0.608);
}
.table-button {
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: rgba(255, 255, 106, 0.696);
    background-color: rgba(0, 0, 0, 0);
}
.table-button:hover {
    cursor: pointer;
    scale: 1.05;
}
.all-inv-table-buttons {
    border: none;
    font-size: 14.5px;
    font-weight: bold;
    color: rgba(255, 255, 106, 0.696);
    background-color: rgba(0, 0, 0, 0);
}
.all-inv-table-buttons:hover {
    cursor: pointer;
    scale: 1.05;
}

@media screen and (max-width: 380px) { 
    .tableCard-container {
        width: 50vw;
    }
}