.webNav-container {
    border-top: 3px solid rgb(100, 127, 1);
    border-bottom: 4px solid rgb(100, 127, 1);
    width: 90vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}
.webNav-options {
    text-decoration: none;
    font-size: 18px;
    color: rgb(100, 127, 1);
}
.webNav-options:hover {
    color: greenyellow;
    scale: 1.05;
} 