.webNav-container {
    border-top: 3px solid rgb(66, 84, 0);
    border-bottom: 4px solid rgb(66, 84, 0);
    width: 90vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}
.webNav-container.dark {
    border-top: 3px solid rgb(197, 251, 1);
    border-bottom: 4px solid rgb(197, 251, 1);
    width: 90vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}
.webNav-options {
    text-decoration: none;
    font-size: 18px;
    color: rgb(66, 84, 0);
}
.webNav-options.dark {
    text-decoration: none;
    font-size: 18px;
    color: rgb(197, 251, 1);
}
.webNav-options:hover {
    color: rgb(242, 254, 113);
    scale: 1.05;
} 