body {
    background-color: rgb(1, 103, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 